.container {
    display: flex;
    width: 100%;
    /* height: 25rem; */
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.container > img {
    height: 23rem;
    margin: 2rem;
}
.mainText{
    text-align: right;
    height:auto;
    user-select: none;
}
.mainText > h1 {
    font-size:5.2rem;
    font-weight: 300;
}
