.container {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* height: 25rem; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* margin: 2rem; */
    padding: 2rem;
}
.container>h1{
    font-size:3rem;
    font-weight:400;
    font-style: italic;
}
.container >h3{
    text-align:center;
    font-size:1.5rem;
    margin:2rem;
    font-weight:300;
    /* margin-top:0; */
}
.container > hr{
    width:10%;
    height:1px;
    background-color:white;
    border-radius: 10px;
}