.container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:center;
    height: auto;
}
.camCanvas{
    /* width:25rem; */
    /* height:25rem; */
    display: flex;
    align-items:center;
    justify-content:space-around;
}
.webcam{
    /* position: absolute;
    left: 0;
    right: 0; */
    width: 50%;
    /* height:100%; */
    
}
.canvas{
    /* position: absolute;
    left: 0;
    right: 0; */
    width: 50%;
    /* height:100%; */
    
}
.img{
    text-align: "center";
    height: 5rem;
    z-index: 15;
}
.custom{
    /* height: 20rem; */
    padding: 1rem;
    background-color: white;
    color:black;
    z-index: 15;
}
.custom > label{

}
.custom > button{
    background-color:lightblue;
    color:black;
    border-radius: 5px;
    padding: 0.5rem;
}