.app{
  background-color: #000000;
  color: #ffffff;
  user-select: none;
}
.header{
  display:flex;
  width:100%;
  justify-content: flex-end;
  align-items: center;
  /* margin: 1rem 0; */
}
.header > img {
  margin:1rem;
  height:6rem;
  /* float:right; */
}
.bg1{
  background-image:url(./Assets/bg2.png);
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
  /* opacity: 0.5; */
  width:100%;
}


.btn {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #c9c9c9 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size:1.5rem;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	/* text-shadow:0px 1px 0px #1570cd; */
}

.btn:hover {
  background:linear-gradient(to bottom, #c9c9c9 5%, #ffffff 100%);
	background-color:#c9c9c9
}
.btn:active {
	position:relative;
	top:1px;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000; 
}